/* @font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.heading {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  color: #353535;
  overflow-wrap: anywhere;
  width: 200px;
  white-space: pre;
}

.headingContent {
  margin-block-end: 3vh;
  line-height: 0.8;
}

.heading:hover {
  color: #0057ff;
  font-style: italic;
} */
