.heading {
  overflow: hidden;
  /* display: block; */
  text-transform: uppercase;
  /* margin-bottom: 0; */
  font-family: "Roboto Condensed";
  color: #353535;
  /* overflow-wrap: anywhere; */
  /* width: 200px; */
  white-space: pre;
}

.heading:hover {
  color: #0057ff;
}

.Heading288 {
  /* font-size: 30vh; */
  /* width: 200px; */
  line-height: 0.8;
  font-size: 30vh;
  margin-block-end: 0.1rem;
  /* margin-block-end: 0.1em; */
  /* margin-block-end: 10px; */
}

.Heading200 {
  font-size: 20vh;
  /* width: 5000px; */
  line-height: 0.8;
  margin-block-end: 0.1rem;
  /* margin-block-end: 0.1em; */
  /* margin-block-end: 10px; */
}

.Heading150 {
  font-size: 15vh;
  /* width: 5000px; */
  line-height: 0.8;
  margin-block-end: 0.1rem;
  /* margin-block-end: 0.1em; */
  /* margin-block-end: 10px; */
}

.Heading120 {
  font-size: 12vh;
  /* width: 5000px; */
  line-height: 0.8;
  margin-block-end: 0.1rem;
  /* margin-block-end: 0.1em; */
  /* margin-block-end: 10px; */
}

.Heading100 {
  font-size: 10vh;
  /* width: 5000px; */
  line-height: 0.8;
  margin-block-end: 0.1rem;
  /* margin-block-end: 0.1em; */
  /* margin-block-end: 20px; */
}
